@use "variables" as *;

// Standard transition mixin
@mixin ease-transition($property: transform, $speed: $speed-medium, $easing: var(--ease-ease)) {
  transition: $property $speed $easing;
}

// Animation mixin
@mixin ease-animation($name, $duration: 1s, $easing: $ease-in-out, $iteration: infinite) {
  animation: $name $duration $easing $iteration;
}

// Timing function mixin
@mixin ease-timing($easing: $ease-in-out) {
  animation-timing-function: $easing;
}
